body {
background: linear-gradient(135deg, #1a1a2e, #16213e, #0f3460);
min-height: 100vh;  
    margin: 0;
    display: flex;
    justify-content: center;
}
.main-box{
    width: 370px;
    box-shadow: 0 0 5px grey, inset 0 0 10px black;
    height: 90vh;
    border: 1px solid black;
    border-radius: 10px;
    color: white;
    font-weight: 500;
    justify-content: center;
}
.main-box>.box-one{
width: 95%;
margin-left: 2.3%;
border: 1px solid black;
height: 88vh;
margin-top: 6px;
font-weight: bold;
border-radius: 10px;
background: linear-gradient(20deg,rgb(45,44,58) 10%, rgb(10,10,10) 40%);
}
.main-box>.box-one>.box-two> span{
display: flex;
flex-wrap: wrap;
gap: 4px;
width: 95%;
margin-left: 2.5%;
justify-content: space-around;
}
.main-box>.box-one>.box-two> span>button{
    width: 50px;
    font-weight: bold;
    height: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 5px;
    outline: none;
    background-color: blueviolet;
    color: white;
}

.main-box>.box-one>.box-two>span>button:hover{
    transform: scale(0.95);
}

.main-box>.box-one>.box-three{
    display: flex;
    width: 95%;
    margin-left: 2.5%;
    height: 10vh;
    flex-direction: column;
}
.main-box>.box-one>.box-three>span{
    display: flex;
    justify-content: space-around;
}
.main-box>.box-one>.box-three>span>button{
    width: 100px;
    height: 30px;
    margin-left: 2px;
font-weight: bold;
margin-top: 5px;
border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: black;
    color: white;
    outline: none;
}

.main-box>.box-one>.box-three>span>button:hover{
    transform: scale(0.95);
}


.main-box>.box-one>.box-three>span>small{
    font-size: 15px;
}
.main-box>.box-one>#box-one-top{
    width: 95%;
    margin-left: 2.5%;
    height: 1600vh;
    border: 1px solid black;
    box-shadow: inset 0 0 8px grey;
}
.main-box>.box-one>.box-one-top>#box-one-text{
    display: flex;
    font-size: 18px;
    margin-bottom: 5%;
    justify-content: space-around;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
.main-box>.box-one>.box-one-top>#box-one-middle{
    width: 95%;
    margin-left: 2.5%;
    height: 17vh;
    border: 1px solid black;
    box-shadow: inset 0 0 8px grey;
    margin-top: 4px;
}
.main-box>.box-one>.box-one-top>#box-one-middle>input[type=text]{
    width: 95%;
    height: 13vh;
    box-shadow: 0 0 8px black;
    margin-left: 1.5%;
    font-weight: bold;
   
}
.main-box>.box-one>.box-one-top>#box-one-bottom{
    width: 95%;
    margin-left: 2.5%;
    justify-content: space-around;
    display: flex;
    outline: none;
}

.main-box>.box-one>.box-one-top>#box-one-bottom:hover{
    transform: scale(0.95);
}

.main-box>.box-one>.box-one-top>#box-one-bottom>button{
    width: 100px;
    margin-left: 2px;
    position: relative;
    top: -25px;
    font-weight: bold;
    border-radius: 22px;
    background-color: green;
    color: white;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
