.main-box{
    width: 310px;
    box-shadow: 0 0 5px grey, inset 0 0 10px black;
    height: 90vh;
    border: 1px solid black;
}
.main-box>.box-one{
width: 95%;
margin-left: 2.3%;
border: 1px solid black;
height: 88vh;
margin-top: 6px;
}
.main-box>.box-one>.box-two> span{
display: flex;
flex-wrap: wrap;
gap: 4px;
width: 95%;
margin-left: 2.5%;
justify-content: space-around;
}
.main-box>.box-one>.box-three{
    display: flex;
    width: 95%;
    margin-left: 2.5%;
    flex-direction: column;
}
.main-box>.box-one>.box-three>span{
    display: flex;
    justify-content: space-around;
}
.main-box>.box-one>.box-three>span>button{
    width: 80px;
    height: 30px;
    margin-left: 2px;

}
.main-box>.box-one>.box-three>span>small{
    font-size: 10px;
}
.main-box>.box-one>.box-one-top{
    width: 95%;
    margin-left: 2.5%;
    height: 25vh;
    border: 1px solid black;
    box-shadow: inset 0 0 8px grey;
}
.main-box>.box-one>.box-one-top>#box-one-text{
    display: flex;
    font-size: 13px;
    margin-bottom: 10%;
    justify-content: space-around;
}
.main-box>.box-one>.box-one-top>#box-one-middle{
    width: 95%;
    margin-left: 2.5%;
    height: 13vh;
    border: 1px solid black;
    box-shadow: inset 0 0 8px grey;
}
.main-box>.box-one>.box-one-top>#box-one-middle>input[type=text]{
    width: 95%;
    height: 10vh;
    box-shadow: 0 0 8px black;
    margin-left: 2.5%;
    margin-top: 5px;
}